#home {
    background-color: rgb(4, 4, 17) !important;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    position: relative;
    z-index: 1;
}

/* ----------------------home-row-1------------------ */

.home-row-1 {
    margin: 150px 0px 0px 10px;
    display: flex;
    position: sticky;
    top: 50px;
    padding: 10px 20px 100px 20px;
}

.home-col-1 {
    margin-left: 30px;
}

.home-col-1 h1 {
    font-size: 70px;
    color: #696969;
}

.home-col-1 h1 span {
    color: #f1efef;
}

.home-col-1 h3 {
    font-size: 50px;
    color: #696969;
}

.typing-text {
    font-family: monospace;
    color: #f1efef;
}

.cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.home-col-2 {
    margin-left: 100px;
}

.home-col-2 p {
    font-size: 25px;
    position: relative;
    top: 350px;
    left: -70px;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    color: #696969;
}

.arrow {
    font-size: 25px;
    color: #696969;
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    top: 30px;
    left: -50px;
}

.video-1 {
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 3px 7px 10px 3px white;
    width: 600px;
    height: 350px;
}

.video-1 video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    display: block;
}


/* ----------------------home-row-2------------------ */

.home-row-2 {
    background-color: white;
    position: relative;
    z-index: 1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 50px 20px 0px 20px;

}

.home-row-2-1 {
    text-align: center;
    margin-top: 50px;
}

.home-row-2-1 h4 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;
    color: rgb(53, 52, 52);
}

.home-row-2-2 {
    display: flex;
    padding: 20px;
    color: black;
    margin-top: 180px;
    width: 100%;
}

.home-row-2-2 h1 {
    font-size: 60px;
    font-weight: bold;
    width: 40%;
    margin-left: 100px;
}

.home-row-2-2 h4 {
    font-size: 40px;
    width: 60%;
    margin-top: 250px;
    color: rgb(70, 70, 70);
}

/* ----------------------home-row-3------------------ */

.home-row-2-3 {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    padding: 50px 30px 20px 30px;
    overflow: hidden;
}

.home-row-2-3-1 {
    display: flex;
    gap: 20px;
    position: relative;
    color: black;
    animation: move 25s infinite linear;
    background-color: aqua;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.box-1 {
    height: 500px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px rgb(150, 148, 148);
    padding: 40px;
    position: absolute;
}

.box-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1-1 div {
    font-size: 50px;
    margin-top: -10px;
    color: rgb(0, 153, 255);
}

.box-1-1 span {
    color: rgb(0, 153, 255);
}

.box-1-2 h1 {
    font-size: 50px;
    margin-top: 50px;
    color: #2c2c2c;
}

.box-1-2 h4 {
    font-size: 30px;
    margin-top: 60px;
    color: #585858;
}


.box-2 {
    height: 500px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px rgb(150, 148, 148);
    padding: 40px;
    position: absolute;
    left: 49%;
}

.box-2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-2-1 div {
    font-size: 50px;
    margin-top: -10px;
    color: rgb(0, 153, 255);
}

.box-2-1 span {
    color: rgb(0, 153, 255);
}

.box-2-2 h1 {
    font-size: 50px;
    margin-top: 50px;
    color: #2c2c2c;
}

.box-2-2 h4 {
    font-size: 30px;
    margin-top: 60px;
    color: #585858;
}



.box-3 {
    height: 500px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px rgb(150, 148, 148);
    padding: 40px;
    position: absolute;
    left: 96%;
}

.box-3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-3-1 div {
    font-size: 50px;
    margin-top: -10px;
    color: rgb(0, 153, 255);
}

.box-3-1 span {
    color: rgb(0, 153, 255);
}

.box-3-2 h1 {
    font-size: 50px;
    margin-top: 50px;
    color: #2c2c2c;
}

.box-3-2 h4 {
    font-size: 30px;
    margin-top: 60px;
    color: #585858;
}



.box-4 {
    height: 500px;
    width: 550px;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px rgb(150, 148, 148);
    padding: 40px;
    position: absolute;
    left: 143%;
}

.box-4-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-4-1 div {
    font-size: 50px;
    margin-top: -20px;
    color: rgb(0, 153, 255);
}

.box-4-1 span {
    color: rgb(0, 153, 255);
}

.box-4-2 h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #2c2c2c;
}

.box-4-2 h4 {
    font-size: 30px;
    margin-top: 60px;
    color: #585858;
}


/* ----------------------home-row-4----------------- */

.home-center-title {
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.home-center-title-1 {
    width: 50%;
    margin-left: 80px;
}

.home-center-title-1 h1 {
    font-size: 90px;
    font-weight: 500px;
    color: rgb(196, 196, 196);
}

.home-center-title-1 h4 {
    font-size: 40px;
    color: rgb(121, 121, 121);
    font-weight: 500px;
    margin-top: 50px;
}

.home-center-title-2 {
    width: 50%;
    margin-left: 80px;
}

.home-center-title-2 h2 {
    color: rgb(235, 235, 235);
    margin-top: 270px;
}


/* ----------------------home-row-6----------------- */

.home-row-6 {
    width: 100%;
    margin-top: 150px;
    padding: 20px;
}

.home-row-6-1 {
    width: 100%;
    height: 800px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px black;
}

.home-row-6-1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    filter: brightness(30%);
    object-fit: cover;
    object-position: center;
}

.home-row-6-2 {
    width: 100%;
    height: 800px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px black;
    position: relative;
    top: -800px;
    z-index: 1;
    background: transparent;
    padding: 50px;
}

.home-row-6-2 h1 {
    font-size: 50px;
    color: #c7c5c5;
}

.home-row-6-2 h4 {
    font-size: 35px;
    color: #fffdfd;
    margin-top: 80px;
}

.home-row-6-2 img {
    margin-top: 100px;
    margin-left: 50px;
}


/* ----------------------home-row-7----------------- */
.home-content-title {
    width: 50%;
    padding: 100px 0px 0px 50px;
}

.home-row-7-h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(48, 47, 47);
    position: sticky;
    top: 130px;
}

.home-row-7-img {
    position: sticky;
    top: 200px;
    height: 270px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 3px black;
    margin-top: 30px;
}

.home-row-7-img img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.home-row-7-h4 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(48, 47, 47);
    position: sticky;
    top: 73%;
    margin-top: 20px;
}

.plain {
    position: sticky;
    top: 100%;
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: -50px;
}